$off-white: #f7f8fa;
$lightest-gray: #f3f5f6;
$lighter-gray: #eeeff2;
$light-gray: #b9c1c7;
$gray: #71767a;
$dark-gray: #525558;
$darker-gray: #212124;

$light-blue: #00aaff;
$blue: #0099e5;
$dark-blue: #0088cc;

$light-green: #41cb56;
$green: #34bf49 ;
$dark-green: #2fab41;

$light-red: #ff4c4c;
