$lightest-gray: #eeeff2;
$light-gray: #b9c1c7;
$gray: #71767a;
$dark-gray: #525558;

$light-blue: #00aaff;
$blue: #0099e5;
$dark-blue: #0088cc;

$light-green: #41cb56;
$green: #34bf49 ;
$dark-green: #2fab41;

$light-red: #ff4c4c;
