.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.left-nav, .right-nav {
  display: flex;
  align-items: center;
}

.left-nav {
  margin-left: 20px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding: 7px 9px;
	transition: background-color 0.3s;
}

.login-form-container {

}

.logo {

}
