.comment-index-container {
  width: 100%;
  margin: 15px 0;

  h1 {
    position: relative;
    font-size: 24px;
    color: black;
    font-weight: bold;
    left: -20px;
  }
}

.comment-index {
  margin: 10px 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: $gray;
    font-weight: 500;
  }
}

.comment-item {
  display: flex;
  flex-direction: column;
}

.comment-container {
  margin: 10px 0 20px 0;
}

.comment-author {
  display: flex;
  justify-content: space-between;

  h2 {
    color: $blue;
    margin-right: 10px;
  }
}

.comment-action-container {
  display: flex;
  align-items: center;

  a, button {
    margin: 5px;
  }
}

.comment-form {
  .textarea {
    width: 400px;
    margin: 6px 0 17px 0;
    height: 100px;
    resize: none;

    &:focus {
      border-color: $blue;
    }
  }
}

.comment-icon {
  height: 100%;
  width: 50px;
  position: relative;

  z-index: 10;
}

.icon-wrapper {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  img {
    height: 100%;
    width: auto;
    position: relative;
    right: 20px;
  }
}

.comment-item-container {
  display: flex;


  .comment-item {
    padding-left: 20px;
    width: 50%;
  }
}
