.comment-index-container {
  width: 50%;
  margin: 15px 0;

  h1 {
    position: relative;
    font-size: 24px;
    color: black;
    font-weight: bold;
    left: -20px;
  }
}

.comment-index {
  margin: 10px 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-container {
  margin: 10px 0 20px 0;
}

.comment-author {
  display: flex;
  justify-content: space-between;

  h2 {
    color: $blue;
    margin-right: 10px;
  }
}

.comment-action-container {
  display: flex;
  align-items: center;

  a, button {
    margin: 5px;
  }
}

.comment-form {
  .textarea {
    width: 400px;
    margin: 6px 0 17px 0;
    height: 100px;
    resize: none;

    &:focus {
      border-color: $blue;
    }
  }
}

.comment-button-hidden {
  display: none;
}
