.test {
  background-image: url(https://vignette1.wikia.nocookie.net/sanicsource/images/9/97/Doge.jpg);
}

.overlay{
  position:fixed;
   background:url(https://s.yimg.com/uy/build/images/sohp/sohp-grid-resized.jpg);
  -webkit-animation:200s scroll infinite linear;
  -moz-animation:200s scroll infinite linear;
  -o-animation:200s scroll infinite linear;
  -ms-animation:200s scroll infinite linear;
  animation:200s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
