body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/video.gallereplay.com/artistarea/Winter%20Aerial%20at%20Sylvestein_7e9fe08d-e612-48dd-a811-195afc720412/Cinemagraph_plain/1920x1080/cinemagraph.jpg)
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
  color: white;
  height: 50px;
  width: 100%;
  font-family: $sans-serif;
  -webkit-font-smoothing: initial;
}

.left-nav > ul, .right-nav > ul {
  display: flex;
  align-items: center;
  cursor: pointer;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding: 7px 9px;
	transition: background-color 0.3s;
}

.left-nav {

}

.login-signup > ul {
  display: flex;
}

.main-nav a {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  color: white;
}

.right-nav a {
  padding: 0 20px;
}

.right-nav a:hover {
  background-color: rgba(255,255,255,0.1);
}

.header-group {
  display: flex;
  align-items: center;
}

.logo {

}
