body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/video.gallereplay.com/artistarea/Winter%20Aerial%20at%20Sylvestein_7e9fe08d-e612-48dd-a811-195afc720412/Cinemagraph_plain/1920x1080/cinemagraph.jpg)
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  // background-color: black;
  opacity: 0.5;
  height: 50px;
  width: 100%;
}

.left-nav > ul, .right-nav > ul {
  display: flex;
  align-items: center;
  cursor: pointer;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding: 7px 9px;
	transition: background-color 0.3s;
}

.left-nav {

}

.login-signup > ul {
  display: flex;
}

.header-group {
  display: flex;
  align-items: center;
}

.logo {

}
