body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/video.gallereplay.com/artistarea/Winter%20Aerial%20at%20Sylvestein_7e9fe08d-e612-48dd-a811-195afc720412/Cinemagraph_plain/1920x1080/cinemagraph.jpg)
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  height: 30px;
}

.left-nav, .right-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding: 7px 9px;
	transition: background-color 0.3s;
}

.left-nav {
  margin-left: 20px;
}

.login-signup > ul {
  display: flex;
}

.header-group {
  display: flex;
  align-items: center;
}

.login-form-container {

}

.logo {

}
