.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-color: rgba(0,0,0,0.6);
  opacity: 1;
  color: white;
  height: 50px;
  width: 100%;
  font-family: $sans-serif;
  -webkit-font-smoothing: initial;
}

.left-nav > ul, .right-nav > ul {
  display: flex;
  align-items: center;
  cursor: pointer;
	font-family: $sans-serif;
  height: 50px;
	transition: background-color 0.3s;
}

.login-signup > ul {
  display: flex;
}

.main-nav a {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  color: white;
}

.main-nav h2 {
  font-size: 14px;
  color: white;
}

.right-nav a {
  padding: 0 20px;
}

.left-nav a {
  padding: 0 5px;
}

.left-nav li:hover, .right-nav a:hover {
  background-color: rgba(255,255,255,0.1);
}

.header-group {
  display: flex;
  align-items: center;
}

#logo-image {
  width: 48px;
  height: 48px;
}

#logo-text {
  font-size: 20px;
}
