// .photo-list {
//   display: flex;
//   flex-flow: row wrap;
//   max-width: 300px;
// }

body {
  // background-color: $off-white;
  background-size: cover;
}

.photo-index {
  padding: 70px 40px;
  background-color: $off-white;
}

.photo-item {

  img {

  }
}

#gallery .photo-info-container {
  display: none;
}
