// .photo-list {
//   display: flex;
//   flex-flow: row wrap;
//   max-width: 300px;
// }

body {
  background-color: $lightest-gray;
  background-size: cover;
}

.photo-index {
  padding: 70px 40px;
}

.photo-item {

  img {

  }
}

.justified-gallery .photo-info-container {
  display: none;
}
