.photo-show-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.photo-show {
  display: flex;
  flex-direction: column
}

.photo-show-img {
  height: 80vh;
  width: auto;
}

.album-select {
  i {
    color: white;
    padding: 0 5px;
  }

  select {
    border: none;
  }
}

.photo-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0 15px;

  i {
    font-size: 18px;
  }

  .edit-delete {
    display: flex;

    i {
      padding: 0 5px;
    }
  }
}
