// .photo-list {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
.photo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  background-color: $lightest-gray;
}

.photo-list .photo-modal-container {
  width: 800px;
  margin-top: 90px;
  z-index: 100;
}

.photo-modal-image {
  cursor: pointer;
}

.photo-list .photo-heading-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: $sans-serif;
}

.photo-heading {
  margin-left: 10px;
}

.photo-list .photo-modal-container:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.09);
  transition: box-shadow 0.2s;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-list .gradient {
  display: none;
}

.brighter {
  filter: brightness(1.25);
}

.darker {
  filter: brightness(0.75);
}

.contrast {
  filter: contrast(1.25);
}

.saturate {
  filter: saturate(1.25);
}

.grayscale {
  filter: grayscale(1);
}

.sepia {
  filter: sepia(1);
}

.invert {
  filter: invert(1);
}

.blur {
  filter: blur(5px);
}

.fade {
  filter: contrast(0.75);
}

.opacity {
  filter: opacity(.75);
}
