.login-form-container {
  font-family: $sans-serif;
}

.login-form, .login-form-box {
  display: flex;
  flex-direction: column;
}

.login-form {
  margin-top: 15px;
}

.login-form-box h1 {
  font-size: 24px;
  text-align: center;
}

.login-form-text {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.login-form input {
  margin: 6px 0 17px 0;
  height: 37px;
  width: 100%;
}

input:focus {
  border-color: $blue;
}

input[type="submit"] {
  -webkit-appearance: button;
  color: white;
  background-color: $green;
  border: 1px solid $dark-green;
  border-radius: 1px;
  padding: 0 11px;
  margin-top: 8px;
  text-align: center;
  font-size: 15px;
}

input[type="submit"]:hover {
  background-color: $light-green;
}

.form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 346px;
  min-height: 320px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.errors {
  color: $light-red;
  margin-top: 8px;
}
