.cover-photo {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://res.cloudinary.com/db1ywnpgj/image/upload/v1495179973/pexels-photo-141635_ueizkw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 340px;
}

.profile-header-container {
  display: block;
}

// .user-photo-index {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.user-photo-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
}

.user-photo-index .photo-modal-container {
  width: 800px;
  margin-top: 90px;
  z-index: 100;
}

.photo-modal-image {
  cursor: pointer;
}

.user-photo-index .photo-info-container {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: $sans-serif;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
