.cover-photo {
  min-height: 400px;
  background: transparent;
  z-index: -11;
  margin-bottom: -100px;
}

.profile-header-container {
  text-align: center;
  display: block;
  // min-height: 400px;
  // background: transparent;
}

.username h1 {
  margin: 50px 0 -100px 0;
  font-size: 30px;
}

.user-nav {
  display: relative;
  background: white;
  min-height: 50px;
  border-top: 1px solid $lighter-gray;
  border-bottom: 1px solid $lighter-gray;
  a {
    display: inline-block;
    font-family: $sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: $gray;
    height: 50px;
    padding: 15px;
    cursor: pointer;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li:hover a {
    color: $blue;
  }
  li:active a {
    border-bottom: 2px solid $blue;
  }
}

.header-spacer {
  min-height: 100px;
}

.avatar {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 0 auto;
  top: 50px;
  z-index: 10;
}

.avatar-wrapper {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  img {
    height: 100%;
    width: 100%;
  }
}
